* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button{
	border: none;
	cursor: pointer;
  background-color: white;
}

.wrap {
  max-width: 1024px;
  margin: 0 auto;
margin-bottom: 20px;
}

.flex {
  display: flex;
  align-items: center;
}

.jb {
  justify-content: space-between;
}
.jc {
  justify-content: center;
}

.ais {
	align-items: flex-start;
}

.bold {
  font-weight: 800;
}

.meta_list {
  justify-content: space-between;
  margin: 40px 0;
}

.meta {
  padding: 16px 30px;
  border:1px solid #DFDFDF;
  border-radius: 8px;
  justify-content: space-between;
  gap: 16px;
}

.meta .name {
  font-size: 14px;
}
.meta .con {
  font-size: 24px;
}

.chart{
  flex: 1;
}

#myChart {
  /* width: 750px !important; 
  height: 375px !important;  */
  box-shadow: 0 25px 36px rgba(0, 0, 0, 0.1) ;
  border-radius: 8px;
  padding: 16px;

}

.desc {
  width: 250px;
  padding:20px 50px;
  background-color: #3577F6;
  border-radius: 20px;
  color: white;
  margin-left: 12px;
}

.desc p  {
  display: flex;
  justify-content: flex-start;
  margin: 18px 0;
}
.desc p span:first-child {
  width: 80px;
}
.desc p .bold {
  margin-left: 10px;
}

#graph {
  margin-bottom: 50px;
}
#graph img{
  cursor: pointer;
}

.color_list {
  margin-top: 16px;
}
.color_list .flex {
  margin-right: 20px;
}
.color_list .color {
  width: 30px;
  height: 18px;
  border-radius: 100px;
  margin-right: 8px;
}

.title {
  display: inline-block;
  padding: 10px 24px;
  color: white;
  border-radius: 8px;
  background-color: #3577f6;
}

.off{
  background-color: #DFDFDF;
}

.week {
  margin: 0 24px;
}

.date {
  margin: 0 12px;
  color: #3577f6;
  font-size: 24px;
}

#hitMap img{
width: 480px;
}

#timeSection{
	flex: 1;
	margin-left: 64px;
}
.gauge_wrap {
  background-color: #E4EAF0;
  height: 12px;
  border-radius: 6px;
}
.gauge_wrap .gauge {
  height: 100%;
  border-radius: 6px;
}

.time_list{
  margin-top: 8px;
  padding: 12px 40px;
  box-shadow: 0 25px 36px rgba(0, 0, 0, 0.1) ;
  border-radius: 20px;
}
.time_list li{
  margin-bottom: 8px;
}
.time_list span{
  color:#3577F6
}

.gauge_wrap{
  margin-top: 8px;
}

.to_home{
  margin: 64px 0 30px;
  .title{
    width: 540px;
    height: 84px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 16px;
  }
}